<head>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>

        methoddata = {}
        wells = {}
        var form_counter = 0
        var sample_counter = 0

        function add_form() {
            //var key = $("#method_select").options[$("#method_select").selectedIndex]
            var formtag = 'form' + form_counter.toString()
            form_counter += 1
            var key = $("#method_select :selected").text()
            var method_name = $("#method_select :selected").attr('tag')
            var newform = $('<div>').attr({
                id: formtag,
                tag: method_name
            })
            $('<hr>').appendTo(newform)
            $('<label>').text(key).appendTo(newform)
            $('<br>').text(key).appendTo(newform)
            console.log(key)
            console.log(methoddata)
            for (const field of methoddata[method_name]['fields']) {
                console.log(field)
                var lbl = $("<label>").text(field)
                if (field.includes('Source') | field.includes('Target')) {
                    newsel = $("<select>").attr({
                        name: field,
                        tag: formtag + '_element'
                        }).appendTo(lbl)
                    for (const well of Object.keys(wells)) {
                        $("<option>").text(well).appendTo(newsel)
                    }
                }
                else {
                    
                    $("<input>").attr({
                        name: field,
                        tag: formtag + '_element',
                        value: "0"
                        }).appendTo(lbl)
                }
                $("<br>").appendTo(lbl)
                lbl.appendTo(newform)
                newform.appendTo($('#subforms'))
            }
        }

        function clear_form() {
            form_counter = 0
            $("#subforms").empty()
        }

        function send_sample() {
            var data = {}
            data['id'] = sample_counter
            sample_counter += 1
            data['name'] = $('#sample_name').val()
            data['description'] = $('#sample_description').val()

            var methods = []
            for (i = 0; i < form_counter; i++) {
                var subdata = {}
                var formtag = '#form' + i
                var key = $(formtag).attr('tag')
                subdata['method_name'] = key
                subdata['sample_name'] = data['name']
                subdata['sample_description'] = data['description']
                $('*[tag=form' + i + '_element]').each(function() {
                    if (this.value.includes('Well:')) {
                        subdata[this.name] = wells[this.value]
                    }
                    else {
                        subdata[this.name] = this.value
                    }
                })
                methods.push(subdata)
            }
    
            data['methods'] = methods
            data['methods_complete'] = Array(methods.length).fill(false)
            console.log(data)
            
            fetch('/test/AddSample', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json; charset=UTF-8'
                },
                body: JSON.stringify(data),
                })
                .then(function (response) {
                    return response.json()            
                }).then(function (return_data) {
                    console.log(return_data)
                })
            
        }

        window.onload = function() {
            fetch('/GUI/GetSamples/')
                .then(function (response) {
                    return response.json();
                }).then(function (data) {
                    //console.log(data['methods'])
                    //console.log(Object.keys(data['methods']))
                    var ids = Array()
                    for (const s of data['samples']['samples']) {
                        ids.push(parseInt(s.id))
                    }
                    sample_counter = ids.reduce((a, b) => Math.max(a, b), -Infinity); // get max of ids array
                    sample_counter += 1
                    console.log(ids)
                    console.log(sample_counter)
                    for (const k of Object.keys(data['methods'])) {
                        //console.log(data['methods'][k])
                        $('<option>').text(data['methods'][k]['display_name']).attr({
                            tag: k
                        }).appendTo('#method_select')
                    }
                    methoddata = data['methods']
                });

            fetch('/GUI/GetLayout/')
                .then(function(response) {
                    return response.json();
                }).then(function(data) {
                    console.log(data['layout'])
                    for (const [rack_name, rack] of Object.entries(data['layout']['racks'])) {
                        console.log(rack)
                        for (const well of rack['wells']) {
                            well_id = 'Well: ' + well['rack_id'] + ' ' + well['well_number']
                            wells[well_id] = well
                        }
                    }
                })
            console.log(wells)
        }
    </script>
</head>
<body>
    <div id="form">
        Sample name: <input id="sample_name" value="test"><br>
        Sample description: <input id="sample_description" value="test sample description"><br>
        <select id="method_select"></select>
        <button id="add_form" onclick="add_form()">Add form</button>
        <div id="subforms"></div>
        <hr>
        <button id="send_sample" onclick="send_sample()">Send Sample</button>
        <button id="clear_form" onclick="clear_form()">Clear Form</button>
    </div>
</body>